style.css body {
  background-image: url("fondo1.jpg");
}
h1 {
  color: rgb(163, 16, 16);
  text-align: center;
  font-size: 80px;
}
h2 {
  color: rgb(172, 52, 52);
  text-align: center;
  font-size: 60px;
}
p {
  color: black;
  font-size: 50px;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
